.navbar {
    background-color: #0a5746 !important;
    color: white;
}

.navbar-brand {
    font-size: 1.1rem;
    color: white;
}

.btn {
    font-size: 0.95rem;
    border-radius: 4px;
}

    .btn.dropdown-toggle {
        background-color: #850f1a;
        color: white;
    }

.navbar .dropdown-menu {
    background-color: white;
    border-radius: 4px;
    min-width: 10rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar .dropdown-item {
    color: #333;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

    .navbar .dropdown-item:hover {
        background-color: #f0f0f0;
        color: #000;
    }

.connection-submenu {
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 10;
    display: flex;
    gap: 75px;
}

    .connection-submenu .btn {
        background-color: #850f1a;
        color: white;
        border: none;
    }
