body {
    padding-top: 60px;
}

.navbar {
    top: 0;
    padding-top: 0;
    width: 100%;
    height: 60px;
    background-color:darkolivegreen; /* Or any color of your choice */
    color: white;
    padding: 10px 0; /* Adjust padding as needed */
    z-index: 1000; /* Ensure navbar stays on top of other content */
}

.item-end {
    margin-left: auto;
}


